<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login </title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-green-100 font-sans antialized">
    <!-- NAVBAR -->
    <nav class="bg-blue-600 p-4 text-white flex justify-between">
        <div>
            <h1 class="text-3xl font-bold weight-bold">AI Blog Genertar</h1>

        </div>
        <div>
            <a href="login" class="text-white hover:underline">Login</a><br>
            <a href="signup" class="text-white hover:underline">Sign Up</a>
        </div>

    </nav>
    <!-- MAIN CONTANT  -->
    <div class="flex item-center justify-center h-screen">
        <div class="bg-green-400 p-8 shadow-md rounded-lg max-w-md w-full">

            <!-- LOGIN FORM -->



            <form action="" method="post" class="space-y-4">
                {% csrf_token %}
                {% if error_message %}

                <div align="center" style="color : red;">
                    <h2>
                        {{ error_message }}

                    </h2>
                </div>

                {% endif %}
                <h2 class="text-xl font-semibold ">Login</h2>
                <div>
                    <label for="username" class="block-md-1 font-medium">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter your username....." class="w-full p-2 border rounded">
                </div>
                <div>
                    <label for="password" class="block-md-1 font-medium">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password...." class="w-full p-2 border rounded">
                </div>
                <button type="submit" class="w-full bg-Grey-400 text-black p-2 rounded hover:bg-yellow-800 font-bold weight-bold">Login</button>
            </form>

        </div>
    </div>

</body>

</html>